<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" 
version="2.5">
  <display-name>FirstDraft_DisplayName</display-name>
  <welcome-file-list>
    <welcome-file>mainPage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.searchengine.executables.InitSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/InitSearch</url-pattern>
  </servlet-mapping>
</web-app>